
body{
background: linear-gradient(to right,#74fffd,#ffe77d);
}
.outLineBox{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2%;
    
}
.Header{
    background:linear-gradient(to right,#fc61c1,#4262fff9);
    color: #ffff;
   margin-bottom:3%;
}
.headings{
    background:linear-gradient(to left,#fff64e,#f0436e,#5378ff);
    color: #ffff;
   margin-bottom:3%;
}
     .row{
        > .col-3{
            margin-left:3%;
            padding-left: 2px;
            padding-right: 2spx;
            >.inp{
                display: flex;
                box-sizing: border-box;
                border:2px solid #ffe77d;
                border-radius: 2%;
                width: 100%;
                height: 2rem;
                text-align:center;
            }
        }    
    }

    