body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
  }
  
  .calculator {
    width: 300px;
    height: 350px;
    background-color: #291b1b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 18px solid #dedede ;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    box-shadow: 10px solid #dedede ;
    color: rgb(8, 1, 1);
  }
  
